body {
/*    padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff !important;
/*    background-image: url(../images/bg.png);*/
}

a {
    color: #00B7FF;
}

.title {
    margin: 40px;
    font-weight: bold;
    font-size: 29px;
}

.center-top {
    margin-top: 180px;
}

.search {
    border: 1px solid #d9d9d9;
    min-height: 42px;
    background-color: #fff;
    font-size: 15px;
}

.search:hover {
    border: 1px solid #a0a0a0;
}

.search-input {
    padding: 0px 10px !important;
    height: 40px;
    width: 100%;
    border: none;
}

.padding-zero {
    padding: 0px !important;
}

.btn-search {
    height: 40px;
    width: 100%;
    border-radius: 0px !important;
    border: none;
    background-color: coral;
}

.section-search{
    height: 80vh;
    width: 100%;
    background-color: #e6e6e6;
}
