body {
    /*    padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff !important;
    /*    background-image: url(../images/bg.png);*/
}

a {
    color: #00B7FF;
}

.title {
    margin: 40px;
    font-weight: bold;
    font-size: 29px;
}

.topbar {
    height: 50px;
    background-color: #e6e6e6;
}

.center-top {
    margin: 0px;
    padding: 3px;
    background-color: #e6e6e6;
    width: 100%;
    height: 50px;
}

.center-top1 {
    margin-top: 130px;
}

.search {
    border: 1px solid #d9d9d9;
    min-height: 42px;
    background-color: #fff;
    font-size: 15px;
}

.search:hover {
    border: 1px solid #a0a0a0;
}

.search-input {
    padding: 0px 10px !important;
    height: 40px;
    width: 100%;
    border: none;
}

.padding-zero {
    padding: 0px !important;
}

.btn-search {
    height: 40px;
    width: 100%;
    border-radius: 0px !important;
    border: none;
    background-color: coral;
}


/*cards*/

.card {
    min-height: 60px;
    /*    background-color: #f2f2f2;*/
    padding: 20px;
    margin-top: 30px;
    float: left;
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.card-title:hover {
    cursor: pointer;
    text-decoration: none;
}

.card-autor {
    font-size: 14px;
    margin-bottom: 3px;
    display: inline;
}

.card-label {
    font-size: 12px;
    color: darkgrey;
    display: inline;
    margin-bottom: 3px;
}

.date {
    font-size: 12px;
    display: inline;
}

.section-search {
    height: 80vh;
    width: 100%;
    background-color: #e6e6e6;
}
.card-resume{
    text-align: justify;
    margin-top: 20px;
}

.btn-card1 {
    border-radius: 0px !important;
    border: none;
    background-color: coral;
    margin: 7px;
}

.btn-card {
    border-radius: 0px !important;
    border: none;
    background-color: coral;
    margin: 4px;
}

.form {
    margin-top: 50px;
}

input {
    border-radius: 0px !important;
}

.center {
    margin: 0 auto;
}


/*page details*/
.info{
    margin-top: 25px;
}
.details {
    overflow-y: auto;
    max-height: 100vh;
}
.mapa{
    height: 100vh;
    padding: 0px !important;
}
#map {
/*    position: fixed;*/
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.detaisl {
/*    background-color: mediumaquamarine;*/
}